
<nav class="navbar navbar-expand-md bg-body-tertiary sticky-top t-0">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-solid fa-compass"></i
    >Journee</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/listings">Explore</a>
        <a class="nav-link " href="/listings/new">Add New Listing</a>
      </div>
      
      <div class="search-container">
        <form class="form-inline search">
          <input class="form-control mr-sm-2 search-bar" list="datalistOptions" id="exampleDataList" type="search" placeholder="Search here!" aria-label="Search">
          <datalist id="datalistOptions">
            <option value="Rooms">
            <option value="Homes">
            <option value="Hotels">
            <option value="Resorts">
            <option value="Mountains">
            <option value="Boats">
          </datalist>
          <button class="btn  my-2 my-sm-0 search-btn"  type="submit"><i class="fa-solid fa-magnifying-glass "></i>Search</button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currentUser) { %>
        <a href="/signup ">
          <button type="button" class="btn btn-primary m-2">Sign up</button>
        </a>
        <a href="/login">
          <button type="button" class="btn btn-outline-primary m-2">Log in</button>
        </a>
        <% } %> <% if(currentUser) { %>
        <a href="/logout">
          <button type="button" class="btn btn-primary m-2">Log out</button>
        </a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
