html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  /* min-width: 100vh; */
  /* height: 100vh; */
  font-family: "Monterrat", sans-serif !important;
}

.container {
  flex: 1;
  margin-top: 5rem; /* added this only to show navbar at top */
}
.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  background-color: #d4d1d1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
  font-size: 1.2rem;
}

.fa-solid {
  font-size: 2rem;
  color: rgb(255, 89, 11);
}
.nav-link {
  color: rgb(42, 42, 42) !important;
}
.nav-link:hover {
  color: rgb(252, 59, 59) !important;
}

.footer {
  background-color: #e3e3e3;
  padding: 20px;
  text-align: center;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
}
.footer a,
.footer p {
  color: #000000 !important;
}

.fa-brands {
  font-size: 1.8rem;
}

/* card */

.listing-card {
  border: none !important;
}

.card-container {
  display: flex;
  margin: 1rem;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.listing-card {
  width: 15rem;
}
.card-text {
  text-align: start !important;
  padding: 0px !important;
}

.listing-link {
  text-decoration: none;
}

.listing-link img:hover {
  opacity: 0.7;
}

/* show */
.show-btns {
  display: flex;
  gap: 2rem;
}

.show-img {
  width: 100%;
  height: 20rem;
  object-fit: fill;
}

/* MAP */

#map {
  width: 100vh;
  height: 400px;
}
