<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-2">

    <h1 class="h3 mb-3 fw-normal">Sign up</h1>
    <form method="POST" action="/signup" class="needs-validation" novalidate>

      <div class="mb-2">
        <label for="username" class="form-label">Username:</label>
        <input type="text" id="username" name="username" class="form-control" required>
        <div class="invalid-feedback"> Please enter an username </div>
        <div class="valid-feedback"> Looks Good </div>
      </div>
      <div class="mb-2">
        <label for="email" class="form-label">Email:</label>
        <input type="email" id="email" name="email" class="form-control" required>
        <div class="invalid-feedback"> Please enter an email. </div>
      </div>

      <div class="mb-2">
        <label for="password" class="form-label">Password:</label>
        <input type="password" id="password" name="password" class="form-control" required>
        <div class="invalid-feedback"> Please enter a password. </div>
      </div>
      <button class="w-30  mt-2 btn btn-lg btn-primary">SignUp</button>
  </div>

</div>